In [25]:
import pandas as pd
import sqlite3


csv = pd.read_csv("./crawling.csv", encoding="cp949")


place_ids = csv['placeID'].tolist()
MCT_NMS = csv['MCT_NM'].tolist()


data = pd.DataFrame({'placeID': place_ids, 'MCT_NM': MCT_NMS})


data = data.drop_duplicates()


data = data.sort_values(by='placeID')


conn = sqlite3.connect('jeju.db')
cursor = conn.cursor()


for index, row in data.iterrows():
    try:
        cursor.execute(
            'INSERT INTO Information (placeID, MCT_NM) VALUES (?, ?)', (row['placeID'], row['MCT_NM']))
    except sqlite3.IntegrityError:

        continue


conn.commit()
cursor.close()
conn.close()

In [14]:
csv.columns

Index(['MCT_YM', 'UE_CNT_GRP', 'UE_AMT_GRP', 'UE_AMT_PER_TRSN_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT', 'LOCAL_UE_CNT_RAT',
       'RC_M12_MAL_CUS_CNT_RAT', 'RC_M12_FME_CUS_CNT_RAT',
       'RC_M12_AGE_UND_20_CUS_CNT_RAT', 'RC_M12_AGE_30_CUS_CNT_RAT',
       'RC_M12_AGE_40_CUS_CNT_RAT', 'RC_M12_AGE_50_CUS_CNT_RAT', 'OP_YMD',
       'MCT_TYPE', 'ADDR', 'MCT_NM', '예상영업시간', '휴업일', '주소', '영업시간', '전화번호',
       '메뉴', '가게이름', 'placeID', '우편번호', '도로명', '지번', '시설정보', '주차정보', '좌석',
       '결제', 'error'],
      dtype='object')

In [27]:
import pandas as pd
import sqlite3

#
csv = pd.read_csv("./crawling.csv", encoding="cp949")

place_ids = csv['placeID'].tolist()
UE_CNT_GRPs = csv['UE_CNT_GRP'].tolist()
UE_AMT_GRPs = csv['UE_AMT_GRP'].tolist()
UE_AMT_PER_TRSN_GRPs = csv['UE_AMT_PER_TRSN_GRP'].tolist()
MON_UE_CNT_RATs = csv['MON_UE_CNT_RAT'].tolist()
TUE_UE_CNT_RATs = csv['TUE_UE_CNT_RAT'].tolist()
WED_UE_CNT_RATs = csv['WED_UE_CNT_RAT'].tolist()
THU_UE_CNT_RATs = csv['THU_UE_CNT_RAT'].tolist()
FRI_UE_CNT_RATs = csv['FRI_UE_CNT_RAT'].tolist()
SAT_UE_CNT_RATs = csv['SAT_UE_CNT_RAT'].tolist()
SUN_UE_CNT_RATs = csv['SUN_UE_CNT_RAT'].tolist()
HR_5_11_UE_CNT_RATs = csv['HR_5_11_UE_CNT_RAT'].tolist()
HR_12_13_UE_CNT_RATs = csv['HR_12_13_UE_CNT_RAT'].tolist()
HR_14_17_UE_CNT_RATs = csv['HR_14_17_UE_CNT_RAT'].tolist()
HR_18_22_UE_CNT_RATs = csv['HR_18_22_UE_CNT_RAT'].tolist()
HR_23_4_UE_CNT_RATs = csv['HR_23_4_UE_CNT_RAT'].tolist()
LOCAL_UE_CNT_RATs = csv['LOCAL_UE_CNT_RAT'].tolist()
RC_M12_MAL_CUS_CNT_RATs = csv['RC_M12_MAL_CUS_CNT_RAT'].tolist()
RC_M12_FME_CUS_CNT_RATs = csv['RC_M12_FME_CUS_CNT_RAT'].tolist()
RC_M12_AGE_UND_20_CUS_CNT_RATs = csv['RC_M12_AGE_UND_20_CUS_CNT_RAT'].tolist()
RC_M12_AGE_30_CUS_CNT_RATs = csv['RC_M12_AGE_30_CUS_CNT_RAT'].tolist()
RC_M12_AGE_40_CUS_CNT_RATs = csv['RC_M12_AGE_40_CUS_CNT_RAT'].tolist()
RC_M12_AGE_50_CUS_CNT_RATs = csv['RC_M12_AGE_50_CUS_CNT_RAT'].tolist()


conn = sqlite3.connect('jeju.db')
cursor = conn.cursor()


for row in zip(UE_CNT_GRPs, UE_AMT_GRPs, UE_AMT_PER_TRSN_GRPs,
               MON_UE_CNT_RATs, TUE_UE_CNT_RATs, WED_UE_CNT_RATs,
               THU_UE_CNT_RATs, FRI_UE_CNT_RATs, SAT_UE_CNT_RATs,
               SUN_UE_CNT_RATs, HR_5_11_UE_CNT_RATs, HR_12_13_UE_CNT_RATs,
               HR_14_17_UE_CNT_RATs, HR_18_22_UE_CNT_RATs, HR_23_4_UE_CNT_RATs,
               LOCAL_UE_CNT_RATs, RC_M12_MAL_CUS_CNT_RATs, RC_M12_FME_CUS_CNT_RATs,
               RC_M12_AGE_UND_20_CUS_CNT_RATs, RC_M12_AGE_30_CUS_CNT_RATs,
               RC_M12_AGE_40_CUS_CNT_RATs, RC_M12_AGE_50_CUS_CNT_RATs, place_ids):

    cursor.execute(
        'UPDATE Information SET UE_CNT_GRP = ?, UE_AMT_GRP = ?, UE_AMT_PER_TRSN_GRP = ?, MON_UE_CNT_RAT = ?, TUE_UE_CNT_RAT = ?, WED_UE_CNT_RAT = ?, THU_UE_CNT_RAT = ?, FRI_UE_CNT_RAT = ?, SAT_UE_CNT_RAT = ?, SUN_UE_CNT_RAT = ?, HR_5_11_UE_CNT_RAT = ?, HR_12_13_UE_CNT_RAT = ?, HR_14_17_UE_CNT_RAT = ?, HR_18_22_UE_CNT_RAT = ?, HR_23_4_UE_CNT_RAT = ?, LOCAL_UE_CNT_RAT = ?, RC_M12_MAL_CUS_CNT_RAT = ?, RC_M12_FME_CUS_CNT_RAT = ?, RC_M12_AGE_UND_20_CUS_CNT_RAT = ?, RC_M12_AGE_30_CUS_CNT_RAT = ?, RC_M12_AGE_40_CUS_CNT_RAT = ?, RC_M12_AGE_50_CUS_CNT_RAT = ? WHERE placeID = ?', row)


conn.commit()

cursor.close()
conn.close()

In [28]:
import pandas as pd
import sqlite3

#
csv = pd.read_csv("./crawling.csv", encoding="cp949")

place_ids = csv['placeID'].tolist()
ADDRs = csv['ADDR'].tolist()
MCT_TYPEs = csv['MCT_TYPE'].tolist()


conn = sqlite3.connect('jeju.db')
cursor = conn.cursor()


for row in zip(ADDRs, MCT_TYPEs, place_ids):

    cursor.execute(
        'UPDATE Information SET ADDR = ?, MCT_TYPE = ? WHERE placeID = ?', row)


conn.commit()

cursor.close()
conn.close()

In [30]:
import pandas as pd
import sqlite3

#
csv = pd.read_csv("./crawling.csv", encoding="cp949")

place_ids = csv['placeID'].tolist()
PHONEs = csv['전화번호'].tolist()
CD = csv['휴업일'].tolist()


conn = sqlite3.connect('jeju.db')
cursor = conn.cursor()


for row in zip(PHONEs, CD, place_ids):

    cursor.execute(
        'UPDATE Information SET PHONE = ?, CD = ? WHERE placeID = ?', row)


conn.commit()

cursor.close()
conn.close()

In [32]:
import pandas as pd
import sqlite3

#
csv = pd.read_csv("./crawling.csv", encoding="cp949")

EWT = csv['예상영업시간'].tolist()


conn = sqlite3.connect('jeju.db')
cursor = conn.cursor()


for row in zip(EWT, place_ids):

    cursor.execute(
        'UPDATE Information SET EWT = ? WHERE placeID = ?', row)


conn.commit()

cursor.close()
conn.close()